* {
    padding: 0;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: rgb(243, 243, 243);
    margin-top: 15%;
}

.container {
    margin: 0 auto;
    text-align: center;
    background-color: white;
    height: 350px auto;
    width: 500px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px 0px rgb(168, 168, 168);
}

.alert-wrong {
    background-color: rgba(167, 13, 13, 0.288);
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}
.alert-correct {
    background-color: rgba(13, 167, 34, 0.288);
    width: 80%;
    margin: 0 auto;
    border-radius: 5px;
}

.container-title {
    padding-top: 8%;
    font-size: 16px;
}

.container-title form {
    height: 20px;
}

.container-input {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}

.container-input input {
    border-radius: 10px 0px 0px 10px;
    width: 70%;
    padding: 8px;
    font-size: 16px;
    background-color: rgb(237, 247, 248);
    border: none;
}

.container-input button {
    font-size: 16px;
    width: 20%;
    border: none;
    border-radius: 0px 10px 10px 0px;
    background-color: rgb(160, 224, 231);
    cursor: pointer;
}

#clear-btn {
    bottom: 35px;
    position: relative;
    color: rgba(167, 13, 13, 0.568);
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: none;
}

#clear-btn:hover {
    background-color: rgb(248, 248, 248);
}

.list {
    display: none;
    height: auto;
    margin-top: 10px;
    width: 500px;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
}

.list-item {
    margin-inline: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5px;
}

.list-item:hover {
    background-color: rgb(248, 248, 248);
}

.edit-btn {
    background-image: url(https://cdn-icons-png.flaticon.com/128/1159/1159633.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}

.delete-btn {
    background-image: url(https://cdn-icons-png.flaticon.com/128/6861/6861362.png);
    background-size: cover;
    width: 20px;
    height: 20px;
    border: none;
    cursor: pointer;
}
